@import 'variables';

.bg-primary {
    background-color: $color-primary;
    color: white;
}

.bg-secondary {
    background-color: $color-secondary;
    color: $color-primary;
}

.margin-primary {
    margin-bottom: 2rem;
}

.margin-secondary {
    margin-bottom: 1rem;
}
