@import 'buttons';

.contact-input {
    border: 3px solid black;
    border-radius: 1.75rem;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 6.5rem;

    & input {
        padding: 1em 0;
    }

    & [type='email'] {
        width: 65%;
        background: transparent;
        color: white;
        padding-left: 2em;
    }

    & [type='submit'] {
        width: 35%;
        font-weight: bold;
    }
}
