@import 'buttons';

.contact-input {
    border: 3px solid black;
    border-radius: 1.75rem;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    @media screen and (min-width: 1200px) {
        margin-top: 6.5rem;
        width: 100%;
    }

    & input {
        padding: 1em 0;
    }

    & [type='email'] {
        width: 65%;
        background: transparent;
        color: black;
        padding-left: 2em;

        @media screen and (min-width: 1024px) {
            color: white;
        }
    }

    & [type='submit'] {
        width: 35%;
        font-weight: bold;
        background: black;
        color: white;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;

        @media screen and (min-width: 1024px) {
            background: white;
            color: black;
            border-radius: 0;
        }
    }
}

.slider-button {
    width: 75px;
    border-radius: 50%;
    display: flex;
    background: transparent;
    height: 75px;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    right: 10%;

    & span {
        display: block;
        margin: auto;
    }

    & img {
        max-width: 1rem;
    }

    &--black {
        @extend .slider-button;
        border: 1px solid white;
        z-index: 10;

        & > button {
            background-color: transparent;
            color: white;
        }
    }

    &--white {
        @extend .slider-button;
        border: 1px solid black;

        & > button {
            background-color: transparent;
        }
    }
}
