.container {
    width: 100%;
    padding: 0.25rem;
    max-height: 460px;

    @media screen and (min-width: 1280px) {
        width: 1280;
        padding: 1rem;
        margin: 0 auto;
    }

    &--flex {
        @extend .container;
        display: flex;
        align-content: center;
        max-height: 530px;
    }

    &__content {
        margin: 0 auto;
        text-align: center;

        &--left {
            width: 50%;
            margin-right: auto;
        }

        &--right {
            width: 42%;
            margin-left: auto;
            text-align: right;
            padding-top: 4rem;

            & p {
                padding-left: 8.75em;
            }
        }
    }

    &__title {
        margin-left: 2.75rem;
        margin-right: 2.75rem;
    }
}

.section {
    padding: 6rem 0;

    &--slider {
        @extend .section;
        padding-bottom: 0;
    }
}

.why {
    width: 50%;

    & > h3 {
        margin-left: auto;
        margin-right: auto;
    }

    & > div {
        display: flex;
        margin: 0 auto;
        width: 80%;
    }
}

.clients {
    text-align: center;
}
